# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

version: "3.9"

services:
  backend:
    image: ${BACKEND_IMAGE:-acr-prod.azurecr.io/app-backend:${TAG}}
    env_file:
      - .env.production
    ports:
      - "80:8000"
    restart: always
    read_only: true
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G
    volumes:
      - uploads:/app/uploads
      - logs:/app/logs

  postgres:
    env_file:
      - .env.production
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  redis:
    restart: always
