# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

version: "3.9"

services:
  backend:
    image: ${BACKEND_IMAGE:-acr-staging.azurecr.io/app-backend:${TAG}}
    env_file:
      - .env.staging
    ports:
      - "8080:8000"
    restart: always
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G

  postgres:
    env_file:
      - .env.staging

  redis:
    restart: always
